@import '../../assets/variables.scss';

.wrapper {
  height: 100vh;
}
.left-col-login {
  background-color: $blue;
  height:100vh;
  h2 {
    margin-top: 50%;
  }
  h2, p {
    font-weight: bold;
    text-align: center;
  }
}

.right-col-login {
  background-color:	$very-light-blue;
  height:100vh;
  .login-form {
    margin: 30% auto;
    width: 60%;
  }
}



